@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:wght@500&display=swap');
.main{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh; 
    font-family: Noto Sans; 
    box-sizing: border-box;  
}
body{
    box-sizing: border-box; 
}

#sticker{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 30px;
    min-width: 100vw;
    background-color: rgb(15, 23, 66);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
    font-weight: 500; 
    color: rgb(216, 189, 189);
    word-spacing: 3px;
}
#sticker span{
    font-size: 1.0em;
    line-height: 2rem;
}
#logoStrip{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    position: absolute;
    top: 51px;
    left: 0;
    width: 100vw;
    padding: 5px 20px;
    box-sizing: border-box;
}
#logo{
    border: none;
}
#logo-img{
    width:220px;
    border: none;
}
#searchBar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid rgb(15, 23, 66);
    padding: 6px 0px;  
    box-sizing: border-box;
    width: 500px;
    position: relative;
}
#search-input{
    border: none;
    outline: none;
    font-size: 1em;
    color: rgb(15, 23, 66);
    font-weight: 500;
    width: 100%;
}
#searchBar form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}
#cart{
    display: flex;
    gap: 20px;
}
#menu{
    position: absolute;
    top: 130px;
    left: 0;
    width: 100vw;
    padding:  5px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(197, 199, 206);
    border-top: 1px solid rgb(197, 199, 206);
}
#menuItems{
    display: flex;
    gap: 20px;
}
#menuItems li{
    list-style: none;    
    color: rgb(15, 23, 66);
    cursor: pointer;
}
#faq{
    display: flex;
    gap: 20px;
}
#register{
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    min-height: 65%;
    border: 1px solid rgb(197, 199, 206);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(197, 199, 206);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
        
}
#empty{
    position: absolute;
    background-color: aliceblue;
    top:1050px;
    width: 100vw;
    height: 70px;
}
#empty-product{
    position: absolute;
    background-color: aliceblue;
    top:850px;
    width: 100vw;
    height: 70px;
}

#signup-signin{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 20%;
    padding-top: 20px;
    
}
#signup{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    border: 1px solid rgb(197, 199, 206);
    cursor: pointer;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    box-sizing: border-box;
}
#signin{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 20px;
    border: 1px solid rgb(197, 199, 206);
    cursor: pointer;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    box-sizing: border-box;
}

.link{
    text-decoration: none;
    color: rgb(15, 23, 66);
}
#login-link .active{
    text-decoration: underline;

}
#menuItems a{
    text-decoration: none;
    color: rgb(15, 23, 66);

}
#menuItems .active{
    text-decoration: underline;
    text-underline-offset: 3px;

}
#register form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px 0px;
    box-sizing: border-box;
    
}
#register form h1{
    font-size: 1.5em;
    text-align: center;
}
#register form input{
    padding: 14px 50px;
    border: 1px solid rgb(197, 199, 206);
    border-radius: 5px;
    box-sizing: border-box;
}
#register form input[type="submit"]{
    background-color: rgb(15, 23, 66);
    color: white;
    cursor: pointer;
}
#signUp_form form{
    gap: 30px;
}

.admin-main{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh; 
    font-family: Noto Sans; 
    background-color: rgb(15, 23, 66);  
}
#toast{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    min-width: 110px;
    min-height: 80px;
    background-color: rgb(15, 23, 66);
    border-radius: 10px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgb(197, 199, 206);
    color: white;
    font-weight: 500;
    z-index: 1;
    gap: 1px;
}

#admin-nav{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 30px;
    min-width: 100vw;
    background-color: rgb(15, 23, 66);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    font-weight: 500; 
    color: rgb(216, 189, 189);
    word-spacing: 3px;
    box-sizing: border-box;
}
#admin-logo-img{
    height: 100%;
    width: 250px;
    padding: 0px 20px;
    box-sizing: border-box;
}
#admin-menu{
    position: absolute;
    top: 105px;
    left: 1px;
    min-height: calc(100vh - 110px);
    min-width: 350px;
    background-color: rgb(44, 49, 73);
    display: flex;
    flex-direction: column;
    align-items: center;   
    
    padding: 20px 0px;
    box-sizing: border-box; 
}
#admin-menuItems{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    box-sizing: border-box;
}

.category{
    list-style: none;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 0px;
    font-size: 1.1em;
    font-weight: 600;
    color: rgb(119, 105, 105);
    cursor: pointer;
}
.products a, .categories a{
    text-decoration: none;
    color: rgb(179, 161, 161);
}
.products .active, .categories .active{
    color: maroon;
}
.item{
    list-style: none;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    padding: 10px 0px;
    font-size: 0.9em;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(179, 161, 161);
}
.item:hover{
    color: maroon;
}
.expand{
    font-size: 0.7em;
    margin-left: 4px;   
    
}
#admin-content{
    position: absolute;
    top: 105px;
    left: 355px;
    min-height: calc(100vh - 110px);
    min-width: calc(100vw - 360px);
    background-color: rgb(216, 236, 253);
    display: flex;
    flex-direction: column;
    align-items: center;   
    padding: 20px 0px;
    box-sizing: border-box; 
}

#add-category{
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: center;
    margin-top: 30px;
}
#add-category-field{
    width: 200px;
    padding: 5px 15px;
    color: rgb(82, 73, 73);
    font-size: 1.0em;
    text-decoration: wavy;
}
#add-category-btn{
    width: fit-content;
    padding: 5px 17px;
    background-color: maroon;
    border: none;
    color: aliceblue;
    font-weight: 900;
    font-size: 1.2em;
}
#add-category-btn:hover{
    background-color: rgb(44, 49, 73);
    color: rgb(245, 196, 196);
}
#categories_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.category-items{
    width: 60%;
    background-color: rgb(44, 49, 73);
    border-radius: 5spx;
    border: none;
    color: aliceblue;
    font-weight: 900;
    padding: 10px ;    
    box-sizing: border-box;
    display: flex;
    position: relative;
}
#btn-container{
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 7px;
}
#btn-container button{
    background-color: maroon;
    padding: 5px 15px;
    color: aliceblue;
    font-weight: 900;
    cursor: pointer;
}
#btn-container button:hover{
    background-color: aliceblue;
    color: maroon;
}
#add-product-form{
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}
#add-product-field-container{
    display: flex;
    gap: 120px;
    align-items: center;
}
#add-image-field-container{
    display: flex;
    align-items: center;
}
#add-product-field{
    width: 200px;
    padding: 5px 15px;
    color: rgb(82, 73, 73);
    font-size: 1.0em;
    text-decoration: wavy;

}
#add-image-field{
    
    padding: 5px 15px;
    color: rgb(82, 73, 73);
    font-size: 1.0em;
    text-decoration: wavy;
}
#add-price{
    width: 200px;
    padding: 5px 15px;
    color: rgb(82, 73, 73);
    font-size: 1.0em;
    text-decoration: wavy;
}

#add-description-textarea{
    width: 100%;
    height: 300px;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    vertical-align: top;
    white-space: pre-wrap;
  }
  #add-description-textarea {
    width: 350px;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: auto;
    word-wrap: break-word;
  }
input, textarea {
    border: none;
   
  }
input:focus, textarea:focus {
    outline: none;
    border:none;   
}
#add-product-btn{
    width: fit-content;
    padding: 5px 17px;
    background-color: maroon;
    border: none;
    color: aliceblue;
    font-weight: 900;
    font-size: 1.2em;
}
#add-product-btn:hover{
    background-color: rgb(44, 49, 73);
    color: rgb(245, 196, 196);
}
#productz-card{
    width: 80%;
    background-color: rgb(44, 49, 73);
    border-radius: 5spx;
    border: none;
    color: aliceblue;
    font-weight: 900;
    padding: 10px ;    
    box-sizing: border-box;
    display: flex;
    position: relative;
    justify-content: space-between;
    
} 
#product-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
#status{
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(50%);
    background-color: maroon;
    width: 70px;
    padding: 3px 10px;
    text-align: center;
    color: aliceblue;
    font-weight: 900;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid aliceblue;
    margin-bottom: 10px;
}
#home-landing-page{
    position: absolute;
    top: 197px;
    width: 100%;
    height: 65vh;
    background: linear-gradient(to right, rgb(4, 4, 48), rgb(70, 2, 2));
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 100px;
    box-sizing: border-box;
    
}
#home-title{   
    font-size: 3em;
    color: aliceblue;
    font-weight: 900;
    text-align: center;
    
}
#home-text{
    text-align: center;
    width: 33%;
    margin-left: 50px;

}
#home-button{
    padding: 10px 20px;
    border: 1px solid rgb(197, 199, 206);
    background-color: maroon;
    cursor: pointer;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    box-sizing: border-box;
    font-weight: 900;
    font-size: 1.2em;
    color: rgb(70, 2, 2);
}
#home-button:hover{
    background-color: aliceblue;
    color:  rgb(4, 4, 48);
}
#barner{
    position: absolute;
    top: 762px;
    width: 100%;
    padding: 10px 0px;
    background-color: rgb(87, 83, 83);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.2em;
    color: aliceblue;
    text-align: center;
    word-spacing: 4px;
}
#landingp_img{
    width: 60%;
}
#incentives{
    position: absolute;
    top: 860px;
    left: 10px;
    width: 90%;   
    display: flex;
    box-sizing: border-box;
    
}
#incentives-image{
    width: 50%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    
}
#incentives-image img{
    width: 50%;
    
}
#incentives-text{
    width: 50%;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#incentives-title{
    font-size: 1.3em;
    padding: 3px 15px;
    font-weight: 600;
    color: aliceblue;
    width: fit-content;
    text-align: center;
    background: linear-gradient(to right, rgb(4, 4, 48), rgb(70, 2, 2));
}
#incentives-subtitle{
    font-size: 1.7em;
    width: 50%;
    font-weight: 700;
    color: rgb(4, 4, 48);
}
#incentives-list{
    display: flex;
    flex-direction: column;
    gap: 14px;
    background-color: rgb(218, 232, 245);
    width: 65%;
    padding: 20px ;
    box-sizing: border-box;
    font-size: 0.84em;
    font-family: 600;  
    word-spacing: 1.5px; 
    border-radius: 12px; 
    border: 1px solid rgb(4, 4, 48);
}
.check{
    display: flex;
    gap: 20px;
}
#why-shop{
    position: absolute;
    top: 1400px;   
    display: flex;
    flex-wrap: wrap;
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    height: fit-content;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    
}
.reasons{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    position: relative;
    background-color: rgb(4, 4, 48);
    color: aliceblue;
    border: 2px solid rgb(4, 4, 48);
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 0.9em;
    font-family: 800;  
    word-spacing: 1.5px;
    
}
.reasons-img{  
    width: 25%;    
}
.why-shop-title{
    position: absolute;
    top: 1300px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.3em;
    padding: 4px 25px;
    font-weight: 600;
    color: aliceblue;
    width: fit-content;
    text-align: center;
    border: none;
    background: linear-gradient(to right, rgb(4, 4, 48), rgb(70, 2, 2));
}
#sell-with-us{
    position: absolute;
    display: flex;
    margin:  40px 0px;
    top: 1600px;
    left: 50%;
    padding: 20px;
    transform: translateX(-50%);
    width: 50vw;
    height: fit-content;
    box-sizing: border-box;
    background-color: rgb(210, 226, 240);
    border-radius: 12px;
}
#sell-with-us-image{
    width: 50%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
}
#sell-with-us-image img{
    width: 40%;
    
}
#sell-with-us-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;    
    
}
#sell-heading{
    background: linear-gradient(to right, rgb(4, 4, 48), rgb(70, 2, 2));
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
    width: fit-content;
    padding: 2px 25px;
    color: aliceblue;
}
#sell-content{
    font-size: 0.95em;
    font-weight: 500;
    color: rgb(4, 4, 48);
    word-spacing: 2px;
}
#testimonials{
    position: absolute;
    top: 1950px;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-bottom: 300px;
}
#testimonials-heading{

    background: linear-gradient(to right, rgb(4, 4, 48), rgb(70, 2, 2));
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
    width: fit-content;
    padding: 2px 25px;
    color: aliceblue;
}
.card {
    width: 200px;
    height: 250px;
    background-color: rgb(210, 226, 240);
    padding: 20px;
    margin: 10px 0px;
    font-size: 0.95em;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: rotateY(0deg);
    transition: transform 0.5s;
  }
  
  .card:hover {
    transform: rotateY(10deg);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(240, 248, 255);
    transform: rotateY(-10deg);
    z-index: -1;
  }
  
  .card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: rgb(210, 226, 240);
    transform: rotateX(90deg);
    z-index: -1;
  }
#customer{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: rgb(4, 4, 48);
    font-size: 0.9em;
    font-weight: 600;
}
#footer{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    background: linear-gradient(to right, rgb(4, 4, 48), rgb(70, 2, 2));
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    color: aliceblue;
    padding-bottom: 60px;
}
.footer-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
.footer-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#careers{
    position: absolute;
    top: 300px;
    left: 0;
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#careers span{
    font-size: 1.9em;
    font-weight: 700;
    color: rgb(4, 4, 48);
}
#faq a{
    text-decoration: none;
    color: rgb(4, 4, 48);
}
#faq .active{
    text-decoration: underline;
    text-underline-offset: 3px;
}
#products-container{
    position: absolute;
    top: 200px;
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 30px;
    justify-content: center;
}
#product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 350px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  position: relative;
  box-sizing: border-box;
}

#product-card img {
  
  height: 140px;
  max-width: 235px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

#product-card h2 {
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
  color: #333;
}

#product-card p {
  font-size: 19px;
  color: #666;
  margin-bottom: 20px;
}

#product-card .price {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

#product-card .add-to-cart {
  background: linear-gradient(to right, rgb(4, 4, 48), rgb(70, 2, 2));
  color: #fff;
  padding: 7px 15px;
  border: none;
 
  cursor: pointer;
}
#product-card a{
    text-decoration: none;
}
#product-card .add-to-cart:hover {
  background-color: rgb(4, 4, 48)
}
#current-product{
    position: absolute;
    top: 220px; 
    left: 50%;
    transform: translateX(-50%);
    width: 70vw;     
    height: 50vh;  
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    position: relative;
    box-sizing: border-box;
   
    
}
#product-details{
    width: 50%;
    display: flex;
    flex-direction: column;
    
    
}
#product-details h2{
    font-size: 2.1em;
    color : rgb(4, 4, 48);
}
#product-details p{
    min-height: 70px;
    color: #666;
}
#current-product-card{
    width: 90%;
    display: flex;
    align-items: center;
    gap: 60px;
}

#current-product-card img{   
    max-height: 90%;
    max-width: 100%;
}
#current-product-card .price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 2ss0px;
}
#current-product-card .add-to-cart {
    background-color: maroon;
    color: #e4dfdf;
    width: 30%;
    margin-top: 20px;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 900;
  }
#current-product-card .add-to-cart:hover {
    background-color: maroon;
}
#pagination{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}
#pagination button{
    background-color: rgb(4, 4, 48);
    color: aliceblue;
    font-size: 1.1em;
    padding: 5px 10px;
    width: 90px;
    border: none;
    font-weight: 600;
}
#loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: rgb(4, 4, 48);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
#navsearch{
    position: absolute;
    top: 38px;
    left: 0;
    width: 430px;
    height: fit-content;
    border: 1px solid rgb(4, 4, 48);
    z-index: 1;
    background-color: white;
    display: flex;    
}
#categories{
    position: absolute;
    top: 195px;
    left: 30px;
    min-width: 200px;
    min-height: 230px;
    border:  2px solid rgb(163, 163, 167);
    border-radius: 15px;
    background-color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 7px 0px;
}
#login-link span{
    color: rgb(4, 4, 48);
    font-weight: 500;
    font-size: 1.09em;
}
.category-div{
    display: flex;    
    width: inherit;
    padding:6px 25px ;
    min-width: 200px;
    box-sizing: border-box;  
    color: rgb(66, 66, 77);  
    font-weight: 500;
}
.category-div:hover{
    background-color: rgb(4, 4, 48);
    color:aliceblue;
}
#selectCategories select{
margin: 20px;
padding: 6px;
font-weight: 700;
color: rgb(4, 4, 48);
font-size: 1.0em;
border: none;
background-color: transparent;
}
#selectCategories select:active{
    border: none;
}
#selectCategories option{
    padding: 3px;
    color: rgb(4, 4, 48);
    font-weight: 400;
    font-size: 1.0em;
}
#my-products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   
}
#cart-container{
    position: absolute;    
    top: 220px;
    left: 50%;
    transform:  translateX(-50%);
    width: 80%;
    
    padding: 0px 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#cart-table{
    padding: 10px;
    border: 1px solid rgb(163, 163, 167);
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
    border-collapse: collapse;
}
#cart-table th{
    padding: 10px 0px;
    background-color: white;
    color: rgb(4, 4, 48);
    font-size: 0.9em;
    font-weight: 700;
}
#cart-table td{
    padding: 10px ;
    border: 1px solid rgb(163, 163, 167);
    text-align: center;
    font-size: 0.9em;
    font-weight: 400;
}
#cart-table tr:nth-child(odd){
    background-color: white;
    color: rgb(4, 4, 48);
}
#cart-table tr:nth-child(even){
    background-color: white;
    color: rgb(4, 4, 48);
}
#cart-table tr:nth-child(1){
    background-color: white;
    color: rgb(4, 4, 48);
}
#cart-table tr:nth-child(2){
    background-color: white;
    color: rgb(4, 4, 48);
}
#cart-table tr:nth-child(3){
    background-color: white;
    color: rgb(4, 4, 48);
}





@media only screen and (max-width: 1170px) {
    #register{
        width: 60%;
    }
    #admin-menu{
        min-width: 270px;
    }
    #admin-content{
        left: 275px;
        min-width: calc(100vw - 280px);
    }
    .category-items{
        width: 90%;
    }
    #home-landing-page{
        gap: 30px;
    }
    #home-text{
        width: 100%;
        font-size: 0.94em;
        margin-left: 0px;
        justify-content: right;
    }
    #landingp_img{
        width: auto;
        height: 100%;
    }
    #incentives-subtitle{
        width: 80%;
    }
    #incentives-list{
        width: 95%;
    }
    #sell-with-us{
        width: 80%;
    }
    #why-shop{
        width: 100%;
    }
    #current-product{
        width: 90%;
    }
    #current-product-card img{ 
        max-width: 100%;
        max-height: 100%;
    }
    #productz-card{
        width: 95%;
    }
    #searchBar{
        width: 400px;
    }
}
